h3{
	font-family: Verdana, sans-serif;
}

.home_box.well:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label.intitule {
	font-weight: normal;
}

textarea.fixe {
	resize: none;
}

div.nopadding {
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

div.navbar-brand{
	font-size : small;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

}