h3 {
	font-family: Verdana, sans-serif;
}

.home_box.well:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

label.intitule {
	font-weight: normal;
}

textarea.fixe {
	resize: none;
}

.linkUser {
	color: white;
	padding-right: 20px;
}

.linkGroup {
	color: white;
	padding-right: 20px;
}

.linkUserNonAnim{
	color: #31708f;
	padding-right: 20px;
}

.linkGroupNonAnim{
	olor: #31708f;
	padding-right: 20px;
}

a.pHoover {
	cursor: pointer;
}

div.nopadding {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

div.paddingBottom {
	padding-bottom: 20px;
}

span.pull-right {
	float: right !important;
}

span.bold-font {
	font-weight: bold;
}

div.navbar-brand {
	font-size: small;
}

.navbar-fixed-bottom {
	padding-right: 10px;
}
body{
	margin-bottom : 40px;
}]

footer {
	display: block;
	position: relative;
	margin-top :10px;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
}